.ce-fill {
    // initial background color
    background-color: $ce-grey-lightest;
  
    &--blue {
      background-color: $ce-blue;
    }
    &--blue-navy {
      background-color: $ce-blue-navy;
    }
    &--blue-sea {
      background-color: $ce-blue-sea;
    }
    &--orange {
      background-color: $ce-orange;
    }
    &--green {
      background-color: $ce-green;
    }
    &--green-light {
      background-color: $ce-green-light;
    }
    &--turquoise {
      background-color: $ce-turquoise;
    }
    &--yellow {
      background-color: $ce-yellow;
    }
    &--purple {
      background-color: $ce-purple;
    }
    &--red {
      background-color: $ce-red;
    }
    &--pink {
      background-color: $ce-pink;
    }
    &--white {
      background-color: $ce-white;
    }
    &--grey-lightest {
      background-color: $ce-grey-lightest;
    }
    &--grey-lighter {
      background-color: $ce-grey-lighter;
    }
    &--grey-light {
      background-color: $ce-grey-light;
    }
    &--grey {
      background-color: $ce-grey;
    }
    &--grey-dark {
      background-color: $ce-grey-dark;
    }
    &--grey-darker {
      background-color: $ce-grey-darker;
    }
    &--grey-darkest {
      background-color: $ce-grey-darkest;
    }
  }
  