// Colors
//
$ce-blue:                                           #0778d0;
$ce-blue-navy:                                      #264697;
$ce-blue-sea:                                       #089aff;
$ce-orange:                                         #ff5216;
$ce-green:                                          #00a18d;
$ce-green-light:                                    #12c4a3;
$ce-turquoise:                                      #01c1d9;
$ce-yellow:                                         #ffb908;
$ce-purple:                                         #6f5dff;
$ce-red:                                            #e70e3f;
$ce-pink:                                           #e3179b;
$ce-white:                                          #ffffff;

$ce-grey-lightest:                                  #f6f9fc;
$ce-grey-lighter:                                   #e3e9ef;
$ce-grey-light:                                     #ABBAC9;
$ce-grey:                                           #889aab;
$ce-grey-dark:                                      #6b778e;
$ce-grey-darker:                                    #4e586d;
$ce-grey-darkest:                                   #485062;

// Content settings
//
$ce-padding:                                       20px;
$ce-container-width:                               960px;
$ce-section-padding:                               100px;